header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aresLogo {
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -2.5px;
}

.aresLogo:hover {
  color: #3b3b3b;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}

ul li a:hover {
  color: #3b3b3b;
}

.saleItem {
  color: rgb(145, 0, 0);
}
