header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 1.5rem auto;
}


.aresLogo {
  height: 1.5rem;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}

ul li a:hover {
  color: #3b3b3b;
}

.saleItem {
  color: rgb(145, 0, 0);
}
