.productCard {
  margin-top: 3rem;
}

.productCard_ImgContainer {
  overflow: hidden;
  max-width: 395px;
  height: 400px;
  object-fit: contain;
}

.productCard_Img {
  max-width: 395px;
  height: 100%;
  object-fit: cover;
}

.productCard_Details h3 {
  margin: 1rem 0rem;
}
