.heroMain {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}

.heroLeft {
  width: 57%;
}

.heroTitle {
  font-size: 110px;
  line-height: 1;
  letter-spacing: -5px;
}

.heroSubtitle {
  line-height: 1;
  margin-top: 2rem;
}

.heroSignUp {
  margin-top: 2rem;
  border: 2px solid black;
  background-color: white;
  padding: 0.8rem;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-weight: 900;
}

.heroSignUp:hover {
  transform: scale(1.1);
}

.heroRight {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.heroRightImageOne {
  overflow: hidden;
  grid-area: 1 / 1 / 2 / 2;
}

.heroRightImageTwo {
  overflow: hidden;
  grid-area: 1 / 2 / 2 / 3;
}

.heroRightImageThree {
  height: 300px;
  overflow: hidden;
  grid-area: 2 / 1 / 3 / 3;
}

.heroRightImageOne img,
.heroRightImageTwo img,
.heroRightImageThree img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .heroLeft, .heroRight {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .heroLeft, .heroRight {
    width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .heroLeft, .heroRight {
    width: 100%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
